*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/caches/build_file_checksums.ser
/.idea/shelf/Uncommitted_changes_before_Update_at_2_16_2021_4_25_PM_[Default_Changelist]/build_file_checksums.ser
/.idea/checkstyle-idea.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/checkstyleidea-libs/readme.txt
/.idea/shelf/Uncommitted_changes_before_Update_at_2_16_2021_4_25_PM_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2_16_2021_4_25_PM__Default_Changelist_.xml
/.idea/vcs.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_2_16_2021_4_25_PM_[Default_Changelist]/build_file_checksums.ser
/.idea/shelf/Uncommitted_changes_before_Update_at_2_16_2021_4_25_PM_[Default_Changelist]/shelved.patch
