<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medal.bronze.jsnader.arkhamweakness">

    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Only needs camera permission for OpenCv but not really useful for this project.
         we only do this so that we can test module integrations in Kotlin for experimentation. -->
<!--    <uses-permission android:name="android.permission.CAMERA"/>-->

<!--    <uses-feature android:name="android.hardware.camera" android:required="false"/>-->
<!--    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>-->
<!--    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>-->
<!--    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>-->
    <!-- End of OpenCv requirement use that we probably don't need for our app. -->

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SelectionPage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ResultPage"
            android:label="ArkhamWeakness"
            android:theme="@style/AppTheme">
        </activity>
    </application>
</manifest>